
{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% crispy example_form %}
{% block title %}password-change{% endblock %}

{% block content %}
    <div class="ui main container">
<h1>Change password</h1>

    <form method="post">
    <div class="col-sm-4">
    {{ form | crispy }}
        <br/>
    <p><input type="Submit" value="Save Changes"></p>
    <input type="hidden" name="next" value="{{ next }}"/>
    {% csrf_token %}
    </div>
    </form>
    </div>
{% endblock %}



